*{margin: 0;}
body{
    font-family: "Nunito Sans", sans-serif;
}
header{
    background-color: blueviolet;
    padding: 10px;
    color: #fff;
    text-align: center;
}
main{
    padding: 30px 50px;
}